<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://192.168.1.107:5050/socket.io/socket.io.js"></script>
</head>
<style>
  body{
      margin-top: 30px;
  }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                        <h2> Online users</h2>
                        <ul class="list-group" id="users"></ul>
                </div>
                
            </div>
            <div class="col-md-8">
                <div class="chat" id="chat"></div>
                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter message here</label>
                        <textarea cols="30" rows="4" class="form-control" id="message">
                                </textarea><br />
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</body>

</html>
<script> 
var socket = io.connect('http://192.168.1.107:5050');
$(function(){
    var messageForm = $('#messageForm');
    var message = $('#message');
    var chat = $('#chat');

    messageForm.submit(function(e){
        console.log("form submittted");
        e.preventDefault();
        socket.emit("send message", message.val())
        message.val('');
    });
    message.keypress(function(e){
        if(e.which== 13){
            socket.emit("send message", message.val())
            message.val('');
            return false;
        }
    });

    socket.on("new message", function(data){
        chat.append('<div class="well">'+data.msg+'</div>')
    })
})
</script>