<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://192.168.1.107:5050/socket.io/socket.io.js"></script>
</head>
<style>
    body {
        margin-top: 30px;
    }

    #messageArea {
        display: none;
    }
</style>

<body>
    <div class="container">
        <div id="userArea" class="row">
            <div class="col-md-12">
                <form id="userForm">
                    <div class="form-group">
                        <label>Enter username</label>
                        <input class="form-control" id="username" />
                        <br />
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="messageArea" class="row">
            <div class="col-md-4">
                <div class="well">
                    <h2> Online users</h2>
                    <ul class="list-group" id="users"></ul>
                </div>

            </div>
            <div class="col-md-8">
                <div class="chat" id="chat"></div>
                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter message here</label>
                        <textarea cols="30" rows="4" class="form-control" id="message">
                                </textarea><br />
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</body>

</html>
<script>
    var socket = io.connect('http://192.168.1.107:5050');
    $(function () {
        var messageForm = $('#messageForm');
        var messageArea = $('#messageArea');
        var message = $('#message');
        var chat = $('#chat');

        var userForm = $('#userForm');
        var userArea = $('#userArea');
        var username = $('#username');
        var users = $('#users');

        //message form submission
        messageForm.submit(function (e) {
            console.log("form submittted");
            e.preventDefault();
            socket.emit("send message", message.val())
            message.val('');
        });
        //userform submission
        userForm.submit(function (e) {
            console.log("user form submittted");
            socket.emit("new user", username.val(), function (data) {
                if (data) {
                    messageArea.show();
                    userArea.hide();
                }
            })
            username.val('');
            e.preventDefault();
        });
        // Enter keypress handler
        message.keypress(function (e) {
            if (e.which == 13) {
                socket.emit("send message", message.val())
                message.val('');
                return false;
            }
        });
        //socket recieve on new message
        socket.on("new message", function (data) {
            chat.append('<div class="well"><strong>' + data.user + '</strong> :' + data.msg + '</div>')
        })
        //socket recieves new user
        socket.on("get users", function (data) {
            var users = $('#users');
            var html = '';
            for (i = 0; i < data.length; i++) {
                html += '<li class="list-group-item">' + data[i] + '</li>'
            }
            users.html(html);
        })

    })
</script>